{% extends "base.html" %}
{% block title %}
  Лента записей
{% endblock %}
{% block content %}
  {% with request.resolver_match.view_name as view_name %}
    <h1>Лента записей</h1>                        
    <hr>
    <article>
      {% for post in posts %}
        {% if view_name  == 'blog:index' %}
          {% include "includes/post.html" %}
        {% endif %} 
      <p>
        {{ post.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
      <hr>
      {% endfor %}
    </article>
  {% endwith %} 
{% endblock %}